.todo-item {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item:hover .icon-delete {
  display: inline-block;
}

.text {
  flex: 1;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  padding: 0 10px;
}

.text.finished {
  text-decoration: line-through;
  color: #666;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-style: normal;
  vertical-align: middle;
  line-height: 30px;
  border-radius: 15px;
  text-align: center;
}

.icon-delete {
  font-size: 25px;
  cursor: pointer;
  color: #999;
  display: none;
}

.icon-toggle {
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E) no-repeat center;
  background-size: cover;
  outline: none;
}

.icon-toggle:checked {
  border: none;
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
}