.todo-list {
  list-style: none;
}


.item-transition-enter {
  opacity: 0.01;
}

.item-transition-enter.item-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.item-transition-leave {
  opacity: 1;
}

.item-transition-leave.item-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}