.app-wrap {
  max-width: 600px;
  background: #fff;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 30px 50px 30px;
  border-radius: 6px;
}

.app-name {
  color: #444;
  text-align: center;
  line-height: 2;
  padding-bottom: 10px;
}

.clear {
  height: 40px;
  line-height: 40px;
  text-align: right;
  cursor: pointer;
}
